DATABASE_URL=(REPLACE_WITH_YOUR_DATABASE_URL)
PORT=3001
AUTH0_DOMAIN=( REPLACE_WITH_YOUR_AUTH0_DOMAIN)
AUTH0_M2M_CLIENT_ID=(REPLACE_WITH_YOUR_AUTH0_M2M_CLIENT_ID)
AUTH0_M2M_CLIENT_SECRET=(REPLACE_WITH_YOUR_AUTH0_M2M_CLIENT_SECRET)
HF_TOKEN=(REPLACE_WITH_YOUR_HF_TOKEN)
HUGGINGFACE_MODEL=Qwen/Qwen2.5-7B-Instruct